.nav-conta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #8d6e63;
}
.logo {
	width: 150px;
	height: 150px;
	padding: 20px 0 10px 20px;
}
.list {
	display: flex;
	list-style-type: none;
	gap: 100px;
}
