.item-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-list-heading {
	text-align: center;
}

.item-list-loader {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
}
